h2 {
	color: DarkGreen;
	font-family: Georgia;
	text-align: center;
}
h4 {
	font-family: Georgia;
	text-align: center;
}

p {
	line-height: 19px;
}

a:link {
	text-decoration:none;
}
a:hover {
	text-decoration: underline;
}

#grossschreiben {
	text-transform: uppercase;
}